body {
    background-color: #fdfdbb;
}

.header, .main {
    margin: 20px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #ff0000;
}

table {
    border-color: #000000;
}

th {
    background-color: #259e3f;
    color: #000000;
    text-align: left;
}

td {
    background-color: #000000;
    color: #ffffff;
    text-align: left;
}

h1{
    margin: 10px 0;
    text-align: left;
}

h5{
    margin: 10px 0;
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}