body {
    font-family: Arial, sans-serif;
    background-color: #fdfdbb;
}

.header, .main, .footer {
    margin: 20px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #ff0000;
}

h1{
    margin: 10px 0;
    text-align: center;
}

h5{
    margin: 10px 0;
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

span {
    color: #0000ff
}